
*{
    margin: 0px ;
    padding: 0px;
}
.navbar.navbar-expand-lg.bg-body-tertiary{
    height: 65px;
    position: sticky;
  
}

body{
    background: url(https://wallpapers.com/images/featured/laptop-murjp1nk4lp1idlt.jpg) no-repeat center center/cover;
    height: 45rem;
    color: aliceblue;

}

.container-fluid{
    color: rgb(107, 98, 156);
    
}

.row.border{
    margin: 34px;
    background-color: rgb(0, 0, 0);
} 

.btn.btn-success.btn-lg{
    margin: 31px 679px;
}

.col-md-6.mb-md-0.p-md-4{
    color: black;
    background-color: antiquewhite;
}
.col-md-6.p-4.ps-md-0{
    color: black;
    background-color: antiquewhite;
}

#emailHelp{
    color: white;
}



.btn.btn-bd-danger.py-2.dropdown-toggle.d-flex.align-items-center{
    background-color: aliceblue;
    color: black;
    position: fixed;
}

